#blog {
  padding: 70px;
}

#blog a {
  color: #ffffff;
  margin-top: 50px;
}

#blog h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.transition {
  margin: 0 auto;
  text-align: center;
  border-top: rgb(128, 3, 3) solid 2px;
  margin-top: 50px;
  font-size: 20px;
}