.bloglist {
    padding-top: 70px;
    text-align: center;
    font-size: 20px;
    height: 1000px;
}
.bloglist h1 {
    font-size: 40px;
    margin-bottom: 20px;
}
.linkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
    border-top: 2px solid rgb(121, 6, 6);
    width: 60%;
}
.linkbox a:hover {
    color: #5d95e9;
}