.blog {
  padding: 90px 20px 20px 20px;
}

.blog h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.markdowns {
  margin-top: 10px;
  padding-top: 10px;
  font-size: 20px;
}
.markdowns h1 {
  font-size: 30px;
  padding-bottom: 5px;
}
.day {
  font-size: 15px;
  color: #cacaca;
}
.transition {
  margin: 0 auto;
  text-align: center;
  border-top: rgb(128, 3, 3) solid 2px;
  margin-top: 50px;
  font-size: 20px;
  margin-bottom: 50px;
}

.transition a:hover {
  color: #8f8f8f;
  text-decoration: none;
}