.main_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color:#141414;
    height: auto;
}
.titles {
    color: #ffffff;
    font-size: 30px;
    float: left;
    margin: 30px;
    margin-top: 90px;
}
.titles p {
    float: right; 
    font-size: 16px;
    font-style: italic;
}
.Second_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: rgb(37, 37, 37);
    height: 1000px;
}
.Second_box h2 {
    color: #ffffff;
    font-size: 80px;
    margin-top: 20px;
    padding: 10px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #ffffff;
}
.Second_box ul {
    list-style: circle;      /* ○ 空白丸 */
    margin-top: -10px;
    font-size: 30px;
}

