.main_text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    background-color:#141414;
    height: auto;
}
.titles {
    color: #ffffff;
    font-size: 30px;
    float: left;
    margin: 30px;
    margin-top: 90px;
}
.titles p {
    float: right; 
    font-size: 16px;
    font-style: italic;
}
.Second_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    background-color: rgb(37, 37, 37);
    height: 1000px;
}
.introduction-container {
    display: flex;
    align-items: center;
    gap: 40px; 
    margin: 50px auto;
    width: 80%;
    padding: 20px;
    background-color: #1f1f1f;
    border-top: white 2px solid;
    border-bottom: white 2px solid;
}
.intro-icon {
    position: relative;  /* 追加 */
    width: 70px;
    height: auto;
    object-fit: cover;
}

.intro-text h2 {
    font-size: 28px;
    margin-bottom: 10px;
    font-style: italic;

}

.intro-text p {
    float: left;
    font-size: 16px;
    line-height: 1.8;
    margin-left: 10px;
}

