#navbar {
  display: flex;
  flex-direction: row;
  border-bottom: #91a4d2 2px solid;
  padding: 20px;
  position: fixed;
  z-index: 1000;
  background-color: rgb(15, 17, 22,0.7);
  width: 100%;
}
#navbar a {
  color: #ffffff;
  margin-right: 20px;
  text-decoration: none;
  transition: color 0.2s ease;
  font-size: 20px;
  margin-top: -10px;
}

#navbar a:hover {
  cursor: pointer;
  color: #91a4d2;
}
#navbar h1 {
    font-size: 20px;
    margin-left: 10px;
    margin-top: -10px;
    margin-right: 10px;
}
#myicon {
  width: 30px;
  height: 30px;
  margin-bottom: -10px;
  margin-right: 10px;
  margin-top: -5px;
}