.slideshow {
    position: relative;
    text-align: center;
    margin: 20px auto;
    border-top: 4px solid #91a4d2;
    padding: 20px;
    width: 100%;
}

.slideshow h5 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
}

.slide-image {
    width: 50%;
    height: auto;
    margin: 0 auto;
    border-radius: 10%;
}

.slide-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;

}

.slide-buttons button {
    font-size: 30px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 30%;
    background-color: rgb(37, 37, 37);
    padding: 10px;
    height: 50px;
    width: 90px;
    display: flex;              /* 追加 */
    align-items: center;        /* 追加 */
    justify-content: center;    /* 追加 */
    line-height: 1;             /* 追加 */
}
.slide-buttons button:hover {
    background-color: #757575;
    color: black;
}
.slide {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.slide.active {
    opacity: 1;
}
