name: Deploy

on:
  push:
    branches: 
        - main
        
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Tailescale SSH
              uses: tailscale/github-action@v2
              with:
                authkey: ${{ secrets.TAILSCALE_AUTHKEY }}

            - name: Deploy to server
              uses: appleboy/ssh-action@v1
              with:
                host: ${{ secrets.SSH_HOST }}
                username: ${{ secrets.SSH_USER }}
                key: ${{ secrets.SSH_PRIVATE_KEY }}
                script: |
                    docker exec rust_web bash /user/start.sh